---
- name: Install required Ubuntu packages
  hosts: localhost
  vars:
    # You can edit this list or override it with --extra-vars
    cargo_packages:
      - eza
      - zoxide
    packages:
      - bat
      - fd-find
      - fish
      - git
      - sqlite3
      - texlive-latex-base
      - thefuck
      - tmux
      - neovim
      - unzip
  tasks:
    - name: Ensure apt cache is up‑to‑date
      become: true # sudo
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600 # seconds; skip refresh if cache younger than this
    - name: Add Git latest version
      ansible.builtin.apt_repository:
        repo: ppa:git-core/ppa
    - name: Install the desired packages
      become: true # sudo
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: present
        install_recommends: false # optional – skip recommended extras

    - name: Install the desired cargo packages
      community.general.cargo:
        name: "{{ cargo_packages }}"
        state: present
